<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.incrementum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/incrementum"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/incrementum_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hobby_Stats"></activity>
        <activity android:name=".ViewAHabit" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AddHabitOccurrenceActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".Log_Habits_Hobbies_Time_Activity" />
        <activity android:name=".AddHabit2Activity" />
        <activity android:name=".AddHabitActivity" />
        <activity android:name=".ViewHabitActivity" />
        <activity android:name=".AddJournalActivity" />
        <activity android:name=".HabitEffectActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewJournalActivity" />
        <activity android:name=".MapActivity" />
    </application>

</manifest>